.title-container{
    padding: 25px;
    justify-content: center;
    display: flex;
    width: 100%;
    margin: 15vh auto 0 auto;
    color: #141414;
    background-color: #5B6A82;
    border-radius: 1rem;
    border: 4px solid #CCA43B;
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-word;
}

.action-container{
    display: grid;
    justify-content: center;
    width: 100%;
    margin: 2vh auto 0 auto;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.action-card{
    background-color: white;
    padding: 25px;
    border-radius: 1rem;
    display: flex;
    height: fit-content;
    transition: all .2s;
}

.action-card:hover{
    border: 4px solid #141414;
    transition: all .2s,-webkit-box-shadow .2s;
}

.image-card{
    margin: 0;
    max-width: 22%;
    max-height: 22%;
    display: block;
    object-fit: contain;
}

.text-card{
    margin: auto 3vw;
    letter-spacing: 0.15em;
    font-weight: 600;
    font-size: 1.5rem;
}

