body{
    margin:0 auto;
    background-color: #bbbbbb;
}

.product-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product-details {
    max-width: 500px;
    background-color: #5B6A82;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

div.product-details img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.product-name {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.product-description {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 20px;
}

label {
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 20%;
    display:block;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bottoni input[type="button"], .bottoni input[type="submit"]{
    background-color: #5B6A82;
    padding: 10px 20px;
    margin: 5px;
    border: #FFFFFF solid;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

div.bottoni {
    width: calc(100 / 2 - 20px);
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


input[type="button"]:hover, input[type="submit"]:hover  {
    border: #FFFFFF;
    box-shadow: 0 0 15px #141414;
    background-color: #CCA43B;
    color: #141414;
    transition-delay: 2ms;
}

