body {
    display: block;
    font-family:  system-ui;
    background-color: #bbb;
    
}

/* Stile del contenitore del form di login */
.login-form {
    max-width: 400px;
    margin: 100px auto;
    background-color: #5B6A82; /* Cambiato il colore di sfondo */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px #CCA43B ;
}

/* Stile per le etichette del form */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #CCA43B;
}

input[type="date"] ,input[type="text"], input[type="email"],
input[type="password"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.register-button input[type="button"], .login-form input[type="button"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color:transparent;
    color: #CCA43B;
    border-top: black;
    border-radius: 4px;
    cursor: pointer;
    font-size: math;
}


input[type="submit"]:hover {
    color: #000;
    background-color: #CCA43B;
    font-weight: bold;
    font-size: medium;
}

.login-form span a {
    color: #CCA43B;
    text-decoration: underline;
}

::placeholder{
    opacity: 60%;
    color: #000;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    font-family: sans-serif ;
    -webkit-text-fill-color: #000;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #fff;
}

@media screen and (max-width: 768px) {
    .login-form {
        max-width: max-content;
        max-height: max-content;
        margin: 50px auto;
        min-height: auto;
        min-width: auto;
    }
}
span{
    color: white;
    font-size: large;
}
