.title{
    font-size: calc(40px + 0.390625vw);
    color: #141414;
    width: auto;
    margin: 0 auto;
    display: block;
}

.subtitle{
    font-size: calc(14px + 0.390625vw);
    margin: 0;
    display: block;
}



body {
    margin: 0;
    background: #1B1B1B;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    z-index: 1;
}

.main-container{
    width: 70%;
    font-size:30px;
    margin: 2vh auto 0 auto;
}

.main-title-container{
    padding: 25px;
    justify-content: center;
    display: flex;
    width: 100%;
    margin: 15vh auto 0 auto;
    color: #1b1b1b;
    background-color: white;
    border-radius: 1rem;
    border: 4px solid #E5383B;
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-word;
}

.main-title-container h1{
    margin: 1.6vh auto;
    font-family: 'Rubik Mono One', monospace;
    color: #e5383b;
}

.main-panel{
    padding: 25px;
    display: block;
    width: 60%;
    margin: 2vh auto 0 auto;
    color: #141414;
    background-color: white;
    border-radius: 16px;
    border: 3px solid #141414;
    -webkit-box-shadow: 0 4px 14px -4px #000000;
    box-shadow: 0 4px 14px -4px #000000;
    box-sizing: border-box;
    line-height: 2;
    word-wrap: break-word;
    word-break: break-word;
}

.main-panel p.content-text{
    font-size: 1.3rem;
    color: #141414;
    margin:  0 auto 5vh auto;
    line-height: 1.2;
    text-align: justify;
}

.main-panel p.info-text{
    font-size: 1.4rem;
    color: #e5383b;
    font-weight: 800;
    margin:  0 auto;
    line-height: 1.2;
    display: block;
    width: 100%;
}

@media all and (max-width: 1440px) and (min-width: 426px){
    .main-container{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .main-panel{
        width: 80%;
    }
}

@media screen and (max-width: 425px){
    .main-container{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .main-panel{
        display: block;
        width: 90%;
        box-sizing:  border-box;
        margin: 2vh auto 0 auto;
        padding: 25px;
    }

    .main-title-container h1{
        font-size: 2.2rem;
    }
}

@media screen and (max-height: 602px) {
    .main-container{
        margin-top: 20vh;
    }
}